*.iml
.gradle
/local.properties
/.idea/caches
/.idea/copyright
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/statistic.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
/.idea/deploymentTargetDropDown.xml
